<div class="color p-3 mb-5">
   <div class="container">
       <h1 class="mb-4">Mitt namn är Rasmus Andersson</h1>
       <div class="row">
        <div class="bild-s d-flex col mb-5">
            <h1 class="m-auto">bild placeholder</h1>
        </div>
        <div class="col-lg align-self-center">
            <h2>Lite kort om mig</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, ut! Aspernatur, tempora molestiae! Enim fugit doloremque recusandae sed, eum natus dolores voluptas maiores quaerat quis dolorum eos perspiciatis nihil laboriosam labore soluta aliquam in? Aspernatur, cum, veritatis eaque modi assumenda recusandae perferendis illo maxime rem id pariatur voluptatibus molestias, a odio repellendus voluptatem! Voluptatem officiis libero illum, quas ipsa rerum repudiandae veniam velit aliquam perferendis explicabo autem ex nulla iure recusandae deleniti nobis necessitatibus, minus quo perspiciatis saepe. Porro nobis aut consectetur ex architecto! Possimus atque, nisi, quia cum odit unde molestiae reprehenderit sapiente eveniet voluptate obcaecati dolorum, neque soluta.</p>
            <button class="btn color1" routerLink="/contact" routerLinkActive="active">Läs mer</button>
        </div>
        
       </div>
   </div>
</div>