<div class="color p-5 mb-5">
    <div class="container">
        <div class="row">      
         <div class="col-lg align-self-center">
             <h1>Om mig</h1>
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic repellendus culpa totam dolore tempore praesentium odio exercitationem voluptas animi dolorum excepturi suscipit magnam fugit aut minima quisquam, reprehenderit veritatis dolor officia blanditiis nobis, quasi maxime. Tenetur voluptas nobis nemo vitae!</p>
             <h4>Vad ni kan vänta er av mig</h4>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus non eos cum, inventore fugiat magnam, ad similique, sapiente amet corporis eius deserunt? Delectus quaerat consectetur repudiandae, aut aliquid necessitatibus labore.</p>
             <h4>Vad jag söker</h4>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus non eos cum, inventore fugiat magnam, ad similique, sapiente amet corporis eius deserunt? Delectus quaerat consectetur repudiandae, aut aliquid necessitatibus labore.</p>
             <button class="btn color1" routerLink="/contact" routerLinkActive="active">Kontakta mig</button>
         </div>
         <div class="bild-s d-flex col mb-5">
            <h1 class="m-auto">bild placeholder</h1>
        </div>
         
        </div>
    </div>
 </div>

<div class="container d-flex flex-column my-5">
    <h2 class="align-self-center">Tidigare project</h2>
    <div class="row justify-content-between">
        <div class="card col-lg-3" style="width: 18rem;">
            <div class="card-img-top bild-l d-flex"><p class="m-auto">bild placeholder</p></div>
            <div class="card-body">
              <h5 class="card-title">Todo app</h5>
              <p class="card-text">en simpel todo application</p>
              <button class="btn">visa</button>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-img-top bild-l d-flex"><p class="m-auto">bild placeholder</p></div>
            <div class="card-body">
              <h5 class="card-title">Todo app</h5>
              <p class="card-text">en simpel todo application</p>
              <button class="btn">visa</button>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-img-top bild-l d-flex"><p class="m-auto">bild placeholder</p></div>
            <div class="card-body">
              <h5 class="card-title">Todo app</h5>
              <p class="card-text">en simpel todo application</p>
              <button class="btn">visa</button>
            </div>
          </div>
    </div>

    <div class="row justify-content-between flex-wrap">
        <div class="card" style="width: 18rem;">
            <div class="card-img-top bild-l d-flex"><p class="m-auto">bild placeholder</p></div>
            <div class="card-body">
              <h5 class="card-title">Todo app</h5>
              <p class="card-text">en simpel todo application</p>
              <button class="btn">visa</button>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-img-top bild-l d-flex"><p class="m-auto">bild placeholder</p></div>
            <div class="card-body">
              <h5 class="card-title">Todo app</h5>
              <p class="card-text">en simpel todo application</p>
              <button class="btn">visa</button>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-img-top bild-l d-flex"><p class="m-auto">bild placeholder</p></div>
            <div class="card-body">
              <h5 class="card-title">Todo app</h5>
              <p class="card-text">en simpel todo application</p>
              <button class="btn">visa</button>
            </div>
          </div>
    </div>


</div>

<div class="color py-5">
    <div class="container">
        <div>
            <h1>Tidigare erfarenheter</h1>
            <div class="d-lg-flex justify-content-between">
                
                <table>
                    <thead>
                      <tr>
                        <th>Utbildningar</th>
                        <th>start</th>
                        <th>slut</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>skola</td>
                        <td>xxxx-xx-xx</td>
                        <td>xxxx-xx-xx</td>
                      </tr>
                      <tr>
                        <td>skola</td>
                        <td>xxxx-xx-xx</td>
                        <td>xxxx-xx-xx</td>
                      </tr>
                      <tr>
                        <td>skola</td>
                        <td>xxxx-xx-xx</td>
                        <td>xxxx-xx-xx</td>
                      </tr>
                      <tr>
                        <td>skola</td>
                        <td>xxxx-xx-xx</td>
                        <td>xxxx-xx-xx</td>
                      </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                      <tr>
                        <th>Arbetsplatser</th>
                        <th>start</th>
                        <th>slut</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>jobb</td>
                        <td>xxxx-xx-xx</td>
                        <td>xxxx-xx-xx</td>
                      </tr>
                      <tr>
                        <td>jobb</td>
                        <td>xxxx-xx-xx</td>
                        <td>xxxx-xx-xx</td>
                      </tr>
                      <tr>
                        <td>jobb</td>
                        <td>xxxx-xx-xx</td>
                        <td>xxxx-xx-xx</td>
                      </tr>
                      <tr>
                        <td>jobb</td>
                        <td>xxxx-xx-xx</td>
                        <td>xxxx-xx-xx</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>